*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}